.create-question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 600px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin: auto; */
  text-align: center;
}
.create-question {
  width: 100%;
  margin-bottom: 1rem;
}

.create-option {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.create-option input[type="text"],
.create-question input {
  width: 100%;
  padding: 0.5rem;
}
.create-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}
.warning {
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}
.create-question-btns {
  display: flex;
  gap: 2rem;
}

@media (max-width: 780px) {
  .create-question-container {
    width: 100vw;
  }
  .create-question {
    width: 400px;
  }
  .create-options {
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
  }
  .create-question-btns {
    flex-direction: column;
  }
  .warning {
    width: 400px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .create-question {
    width: 300px;
  }
  .create-options {
    grid-template-columns: repeat(1, 1fr);
    width: 300px;
  }
}
