.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  height: 100vh;
}

.answers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
