.edit-quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 800px;
  height: 100vh;

  margin: auto;
}
.edit-quiz-add-btn {
  align-self: flex-end;
}
.edit-title-and-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  input,
  textarea {
    padding: 0.5rem 1rem;
  }
  textarea {
    min-height: 100px;
    scrollbar-width: none;
  }
}
.edit-questions {
  width: 100%;
}
.edit-questions-list {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-color);
  padding: 1rem 0 1rem;
}
.edit-questions-list:last-child {
  border-bottom: 1px solid var(--text-color);
  padding: 1rem 0;
}
.edit-question-btns {
  display: flex;
  gap: 1rem;
}
.edit-quiz-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.quiz-error {
  text-align: center;
  margin-top: 10rem;
}

@media (max-width: 780px) {
  .edit-quiz-container {
    width: 500px;
    padding: 2rem 1rem;
    min-height: 100vh;
  }

  .edit-title-and-description {
    width: 90%;
  }
  .edit-questions-list {
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: left;
    padding: 1rem 0 0;
    p {
      width: 100%;
    }
  }
  .edit-quiz-buttons {
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .edit-question-btns {
    width: 400px;
    justify-content: right;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .edit-quiz-container {
    width: 300px;
    justify-content: initial;
  }
  .edit-quiz-add-btn {
    align-self: center;
  }
  .edit-quiz-buttons {
    flex-direction: column;
    /* margin-bottom: 2rem; */
  }
  .edit-question-btns {
    width: 400px;
    justify-content: center;
  }
}
