* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  --primary-color: rgb(255, 255, 246);
  --secondary-color: rgb(250, 207, 237);
  --tertiary-color: rgb(255, 136, 217);
  --text-color: rgb(92, 69, 69);
}
body {
  background: var(--primary-color);
  color: var(--text-color);
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
